.forget-password-container {
  background: #ffffff;
  padding: 0 60rpx;

  .forget-password-form {
    margin-top: 60rpx;

    .input-group {
      margin-bottom: 40rpx;

      .input-field {
        width: 100%;
        height: 88rpx;
        padding: 0 40rpx;
        border: 2rpx solid #e5e7eb;
        border-radius: 44rpx;
        font-size: 28rpx;
        background: #ffffff;
        box-sizing: border-box;

        &:focus {
          border-color: #3b82f6;
          outline: none;
        }

        &::placeholder {
          color: #9ca3af;
        }
      }
    }

    .login-section {
      margin-top: 40rpx;
      text-align: center;

      .login-text {
        font-size: 28rpx;
        color: #666666;
      }

      .login-link {
        font-size: 28rpx;
        color: #3b82f6;
        margin-left: 10rpx;
      }
    }
  }
}

:deep(.uni-easyinput__content) {
  height: 88rpx;
  border: 2rpx solid #e5e7eb;
  border-radius: 44rpx;
  background: #ffffff;
  padding: 0 20rpx;
  box-sizing: border-box;
  margin-bottom: 40rpx;

  &:focus-within {
    border-color: #3b82f6;
  }
}

:deep(.uni-easyinput__placeholder-class) {
  color: #858585 !important;
  font-size: 28rpx !important;
}

:deep(.content-clear-icon) {
  margin-right: 10rpx;
}
