@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1756788658591') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-password:before {
  content: "\e614";
}

.icon-duigou:before {
  content: "\e640";
}

.icon-gongdanxinxi:before {
  content: "\e623";
}

.icon-arrow:before {
  content: "\e545";
}

.icon-setting:before {
  content: "\e785";
}

.icon-youshuangjiantou:before {
  content: "\e762";
}

.icon-waibu-02:before {
  content: "\ec7f";
}

