@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1757377732529') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-password:before {
  content: "\e614";
}

.icon-duigou:before {
  content: "\e640";
}

.icon-gongdanxinxi:before {
  content: "\e623";
}

.icon-edit:before {
  content: "\e6ac";
}

.icon-plus:before {
  content: "\e8fe";
}

.icon-arrow:before {
  content: "\e545";
}

.icon-setting:before {
  content: "\e785";
}

.icon-delete:before {
  content: "\e624";
}

.icon-Plus:before {
  content: "\eab7";
}

.icon-reset_line:before {
  content: "\e64f";
}

.icon-search:before {
  content: "\e66c";
}

.icon-youshuangjiantou:before {
  content: "\e762";
}

.icon-waibu-02:before {
  content: "\ec7f";
}

