.my-container {
  background-color: #f5f5f5;
	height: 100vh;
	box-sizing: border-box;
  
  .my-header {
    display: flex;
    align-items: center;
    padding: 30rpx 40rpx;
    background: #ffffff;
    box-shadow: 0 4rpx 20rpx rgba(0, 0, 0, 0.1);
    margin-bottom: 40rpx;
    
    .my-header-left {
      .my-header-left-avatar {
        width: 160rpx;
        height: 160rpx;
        border-radius: 50%;
        overflow: hidden;
        border: 4rpx solid #ffffff;
        box-shadow: 0 4rpx 12rpx rgba(0, 0, 0, 0.1);
        
        .avatar-image {
          width: 100%;
          height: 100%;
        }
        
        &.avatar-placeholder {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 48rpx;
          font-weight: bold;
          color: #ffffff;
          background: #5d87ff;
          text-shadow: 0 4rpx 8rpx rgba(0, 0, 0, 0.3);
        }
      }
    }
    
    .my-header-info {
      margin-left: 40rpx;
      flex: 1;
      
      .user-name {
        display: block;
        font-size: 40rpx;
        font-weight: 500;
        color: #333333;
        margin-bottom: 10rpx;
      }
      
      .user-nickname {
        display: block;
        font-size: 28rpx;
        color: #666666;
        margin-bottom: 10rpx;
      }
      
      .user-phone {
        display: block;
        font-size: 28rpx;
        color: #999999;
        margin-bottom: 10rpx;
      }
      
      .user-email {
        display: block;
        font-size: 28rpx;
        color: #999999;
      }
    }
  }

  .my-content {
    background: #ffffff;
    box-shadow: 0 4rpx 20rpx rgba(0, 0, 0, 0.1);
    margin-bottom: 40rpx;
    .my-content-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 30rpx 40rpx;
      gap: 20rpx;
      border-bottom: 1rpx solid #f5f5f5;
      .item-icon {
        width: 40rpx;
        height: 40rpx;
        .iconfont {
          font-size: 40rpx;
          color: #333333;
        }
      }
      .item-name {
        flex: 1;
        font-size: 28rpx;
        color: #333333;
      }
      .item-arrow {
        font-size: 28rpx;
        color: #999999;
      }
    }
  }

  .my-footer {
    box-shadow: 0 4rpx 20rpx rgba(0, 0, 0, 0.1);
    .logout-btn {
      width: 100%;
      height: 100rpx;
      background: #ffffff;
      color: #333333;
      text-align: center;
      line-height: 100rpx;
    }
  }
}
